body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}
main {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main div {
  background-color: #fff;
  padding: 1em;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  margin: 1em;
}
main div, main p, main h1 {
  max-width: 600px;
  text-align: justify;
  flex: 1;
}
main h1 {
  text-align: center;
}
