---
layout: default
---

<div class="home">
    <div class="content">
        <div>
            <h1>I like to make science open.</h1>

            <p><strong>In my day job</strong>, I'm the Executive Director of <a href="https://openlifesci.org/">Open Life Science</a>, a non-profit mentoring and training company dedicated to building a global network of open research ambassadors.</p>

            <p>Prior to this, I was Open Source Technology Lead at the Wellcome Trust, and before that an open source research software engineer and community manager at <a href="http://intermine.org">InterMine</a>, based at the Department of Genetics at the University of Cambridge. <a href="https://yochannah.github.io/cv/">Browse my CV</a>.</p>

            <h2>Outside of work, I have one big side project</h2>

            <ol>
              <li> My <a href="https://www.research.manchester.ac.uk/portal/yochannah.yehudi-postgrad.html">EngD degree</a> with the University of Manchester, with a focus on human aspects of software from a life science perspective - see current projects and recent reading at <a href="http://omgscience.co.uk/projects/">omgscience.co.uk</a>. Currently in my final year 😱.</li>
            </ol>

            <p>In a pre-pandemic world I used to run and bike a lot; I'm looking forward to taking that back up when it's safe to be around other humans again.</p>
        </div>
    </div>
    <aside>
        <h1 class="page-heading">Posts</h1> {{ content }}
        <ul class="post-list">
            {% for post in site.posts %}
            <li>
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                <span class="post-meta">{{ post.date | date: date_format }}</span>

          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </li>
            {% endfor %}
        </ul>
        <h5><a href="https://yochannah.github.io/omgscience/">OMG Science! (aka My EngD research notes). </h5>
    </aside>


</div>
